
    <h1>
    New publication :
    </h1>
        <div class="text-center">
            <form method="post" action="/publication/post">
                <label>Title:</label>
                <input type="text" name="Title" />

                <label>Text:</label>
                <input type="text" name="Content" />

                <input type="submit" value="Submit" action="/publication/post" />
            </form>
        </div>