@model List<IdeaExchange.Models.Publication>

<h1>See the users publications, and <a asp-controller="ApplicationUser" asp-action="Register">register</a> to <a asp-controller="Publication" asp-action="CreatePublication">create a new one</a>.</h1>
    @foreach (var publication in Model)
    {
    <div class="publication-box">
        <h2>@publication.Title</h2>
        <p>@publication.Content</p>
        <p>@publication.Date</p>
    </div>
    }
